$login_section_title_template: 
  ". previous title next .";
$login_form_item_column_width: 40%;
$login_form_item_row_width: 30%;
$login_form_template: 
  ". . ."
  ". section ."
  ". submit ."
  ". . .";

@mixin login_section_title_btn() {
  background: transparent;
  outline: none;
  cursor: pointer;

  img {
    width: 50%;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

header {visibility: hidden;}

.section-title {
  display: grid;
  grid-template-areas: $login_section_title_template;
  grid-template-columns: auto 10% 25% 10% auto;
  justify-items: center;
  align-items: center;

  article {
    grid-area: title;
    overflow: hidden;
    justify-items: center;
    align-items: center;

    h1 {
      width: auto;
    }
  }

  .previous-btn {
    grid-area: previous;
    @include login_section_title_btn;
  }

  .next-btn {
    grid-area: next;
    @include login_section_title_btn;
  }
}

/*
form {
  display: grid;
  grid-template-columns: auto $name_form_item_column_width auto;
  grid-template-rows: auto $name_form_item_row_width $name_form_item_row_width auto;
  grid-template-areas: $name_form_template;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 10px solid red; // test

  section {
    grid-area: section;
    display: grid;
    grid-template-columns: auto $name_section_item_column_width auto auto $name_section_item_column_width auto;
    grid-template-areas: $name_section_template;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  input[type="submit"] {
    grid-area: submit; 
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
  }
}*/
