section {
  display: block;
  margin-top: 4rem;
  align: center;
  font-size: .4rem;
  outline: 3px solid #222222;

  nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0px;
    justify-items: start;
    background: #ffffff;

    .tag {
      height: 1.5rem;
      width: auto;
      padding: 0 10px;
      background: #ffffff;
      color: black;
      font-size: .75rem;
      border: #aaaaaa;
      border-collapse: collapse;
    }

    .currentTag {
      background: #ff5f55;
    }
  }

  table {
    grid-area: table;
    color: black;
    thead{
      tr{
        display: grid;
        grid-template-columns: 1rem 3rem 8rem;
        grid-column-gap: 0px;
        justify-items: end;

        th{
          font: Ageta_Chubby_Demo;
          font-size: .5rem;
        }
      }
    }

    tbody{
      
    }
  }

}
