<!DOCTYPE html>
<html>
    <head>
        <title>SuperMarios</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
        <link rel="icon" href="images/icons/favoricon.ico">
    </head>

   <body>
        <header id="header">
            <h1><a href=""><img src="images/icons/index.ico" alt="Super Marios"></a></h1>
            <nav>
                <ul>
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#one">What is Mario</a></li>
                    <li><a href="#two">What is Marios</a></li>
                    <li><a href="#work">Who Is Us</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <%- content %> 

        <footer id="footer">

            <!-- Icons -->
                <ul class="actions">
                    <li><a href="https://twitter.com/Nintendo" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/NintendoMario/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/nintendo/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://www.linkedin.com/company/5591/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://dribbble.com/search?q=mario" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="https://www.pinterest.com/search/pins/?q=mario" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>

            <!-- Menu -->
                <ul class="menu">
                    <li>&copy; Super Marios</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>

        </footer>
        
        <!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
			
    </body>
</html>