<!DOCTYPE html>
<html>
<head>

  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/home/images/icons/favoricon.ico">
  <!-- Style Sheets -->
  <link rel="stylesheet" href="/game/css/base.css">
  {% block stylesheets %}{% endblock %}

</head>
<body>

  <header>
    <h1><a href="{{ home }}"><img src="/home/images/icons/index.ico" alt="Super Marios"></a></h1>
    <nav>
      <ul>
        <li><a href="{{ home }}">Home</a></li>
        <li><a href="{{ game }}">Game</a></li>
        <li><a href="{{ pedia }}">Pedia</a></li>
        {% if noLogin %}
        <li><a href="{{ regist }}">Sign In</a></li>
        <li><a href="{{ login }}">Login</a></li>
        {% else %}
        <li><a href="{{ logout }}">Logout</a></li>
        <li><a href="{{ user }}">{{ userName }}</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  {% block content %}{% endblock %}

  <!-- Scripts -->
  <script src="/home/js/jquery.min.js"></script>
  <!--script src="/game/js/phaser.min.js"></script-->
  <script src="/game/js/phaser/phaser.js"></script>
  {% block scripts %}{% endblock %}

</body>
</html>
