<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/home/assets/images/icons/favoricon.ico">
  <!-- Style Sheets -->
  <link rel="stylesheet" href="/game/css/base.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  <!-- Menu -->
  <header class="menu">
    <a href="{{ root }}">
      <img src="/home/assets/images/icons/favoricon.ico" alt="ProFatXuanAll" width="50" height="50">
    </a>
    <a href="{{ home }}">Home</a>
    <a href="{{ game }}">Game</a>
    <a href="{{ pedia }}">Pedia</a>
	</header>

  <!-- Content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer>
  </footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!--script src="/game/js/phaser.min.js"></script-->
  <script src="/game/js/phaser/phaser.js"></script>
  {% block script %}{% endblock %}
</body>
</html>
