{% extends "game/base.html" %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<div id="userName">{{ userName }}</div>
<div id="characterName">{{ characterName }}</div>
<div id="visitCounter">{{ visitCounter }}</div>
<div id="html_game_block"></div>
{% endblock %}

{% block script %}
<script src="/game/js/socket.io/socket.io.js"></script>
<script src="/game/js/config.js"></script>
<script src="/game/js/map.js"></script>
<script src="/game/js/item.js"></script>
<script src="/game/js/monster.js"></script>
<script src="/game/js/savepoint.js"></script>
<script src="/game/js/player.js"></script>
<script src="/game/js/connect.js"></script>
<script src="/game/js/draw.js"></script>
{% endblock %}
