{% extends "game/base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/game/css/login.css">
{% endblock %}

{% block content %}
<!-- section title -->
<section class="section-title">
  <article>
    <h1>What your name?</h1>
    <h1>Choose a character</h1>
  </article>
  <button class="previous-btn" type="button"><img src="/game/assets/pages/svgs/previous.svg" alt="Previous"></button>
  <button class="next-btn" type="button"><img src="/game/assets/pages/svgs/next.svg" alt="Next"></button>
</section>

<!-- primary form -->
<form method="POST" action="">

  <!-- make user input name -->
  <section class="input-name">
    <input type="text" id="account" name="account" placeholder="Type a name here" autofocus>
  </section>

  <!-- make user choose character -->
  <section class="input-character">
    <article>
      <img src="/game/assets/players/gifs/mario.gif" width=64 height=112>
      <img src="/game/assets/players/gifs/luigi.gif" width=64 height=112>
      <img src="/game/assets/players/gifs/tomato_chicken.gif" width=64 height=112>
    </article>
    <input type="text" name="character" value="mario">
  </section>

  <!-- submit and error message -->
  <section class="output">
    <article>
      <span id="error">{{ errorMsg }}</span>
    </article>
    <input type="submit" value="Start!">
  </section>
</form>
{% endblock %}

{% block script %}
<script src="/game/js/name.js"></script>
{% endblock %}
