<% extend('base') %>
<form method="POST" action="<%= %>">
	account:<input type="text" name="account" placeholder="Your Account">
	password:<input type="passwd" name="password" placeholder="Your Password">
	<input type="submit" value="login">
	<a></a>
</form>
