{% extends "game/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/game/css/regist.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="box">
    <form method="POST" action="">
        <h2><b>Sign Up</b></h2>
        <input type="text" id="account" class="inputbox" name="account" placeholder="Username"><br>
        <input type="password" id="password" class="inputbox" name="password" placeholder="Password"><br>
        {% if error %}
        <div class="inputbox" id="error">
            This username have been used, please try another one.
        </div><br>
        {% endif %}
        <input id="btn" type="submit" class="btn" value="Sign Up">
    </form>
</div>

{% endblock %}

{% block scripts %}
<script src="/game/js/regist.js"></script>
{% endblock %}