{% extends "game/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/game/css/summary.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Player</th>
      <th scope="col">Coin</th>
      <th scope="col">Kills</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
      <th scope="row">{{ player.rank }}</th>
      <td>{{ player.userName }}</td>
      <td>{{ player.coin }}</td>
      <td>{{ player.kill }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="/game/js/summary.js"></script>
{% endblock %}
