{% extends "home/base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/home/css/about.css">
{% endblock %}


{% block content %}
  <!-- Intro -->
  <section class="banner">
    <img src="/home/assets/images/logos/logo.png" title="logo" alt="logo" width="800">
    <article>
      <h1>ProFatXuanAll</h1>
      <p>We are a team of <strong><a href="http://web.ncku.edu.tw/bin/home.php">NCKU</a></strong> students.</p>
      <p>And this is our web programming class team project.</p>
    </article>
  </section>

  <!-- each member -->
  <h2>Team Leader</h2>
  <section class="team-leader">
    <img src="/home/assets/images/profiles/周子軒.jpg" title="周子軒" alt="周子軒" width="800">
    <article>
      <h1>周子軒</h1>
      <p>Github: <a href="https://github.com/ProFatXuanAll">周子軒</a></p>
    </article>
  </section>

  <h2>Team Member</h2>
  <section class="team-member">
    <img src="/home/assets/images/profiles/曾大瑋.jpg" title="曾大瑋" alt="曾大瑋" width="800">
    <article>
      <h1>曾大瑋</h1>
      <p>Github: <a href="https://github.com/darkborderman">曾大瑋</a></p>
    </article>
  </section>

  <section class="team-member">
    <img src="/home/assets/images/profiles/段雅培.jpg" title="段雅培" alt="段雅培" width="800">
    <article>
      <h1>段雅培</h1>
      <p>Github: <a href="https://github.com/kaeteyaruyo">段雅培</a></p>
    </article>
  </section>

  <section class="team-member">
    <img src="/home/assets/images/profiles/黃敏宸.jpg" title="黃敏宸" alt="黃敏宸" width="800">
    <article>
      <h1>黃敏宸</h1>
      <p>Github: <a href="https://github.com/rainfallman">黃敏宸</a></p>
    </article>
  </section>

  <section class="team-member">
    <img src="/home/assets/images/profiles/陳哲瑋.jpg" title="陳哲瑋" alt="陳哲瑋" width="800">
    <article>
      <h1>陳哲瑋</h1>
      <p>Github: <a href="https://github.com/e24016695">陳哲瑋</a></p>
    </article>
  </section>

  <!-- Contact -->
  <section class="contact">
    <img src="/home/assets/images/profiles/team_members.jpg" title="team member" alt="team member" width="800">
    <article>
      <h1>Contact</h1>
      <p>
        We currently don't have a contact yet.<br>
        Just visit us on <a href="https://github.com/ProFatXuanAll/SuperMarios">Github</a>.
      </p>
    </article>
  </section>
{% endblock %}

{% block script %}
{% endblock %}
