{% extends "home/base.html" %}

{% block content %}
  <!-- Intro -->
  <section class="">
    <h2>Super Marios</h2>
    <p>Many Marios run together</p>
  </section>

  <!-- One -->
  <section class="">
    <h2>What is Mario</h2>
    <p>
      <strong>Super Mario</strong> is a series of platform video games created by 
      <strong>Nintendo</strong> featuring their mascot, <strong>Mario</strong>.
      Alternatively called the <strong>Super Mario Bros</strong>.
      The Super Mario games follow Mario's adventures in the fictional 
      <strong>Mushroom Kingdom</strong>.
      The player runs and jumps across platforms and atop enemies in themed levels.
      The games have simple plots, typically with Mario rescuing the kidnapped 
      <strong>Princess Peach</strong> from the primary antagonist, <strong>Bowser</strong>.
    </p>
  </section>

  <!-- Two -->
  <section class="">
    <h2>What is Mario<em>s</em></h2>
    <p>
      Basicly same as Mario, but with <strong>multiple players</strong> play at the 
      same time. Try to <strong>rescue Princess Peach</strong> and <strong>work with/fight
      over(?)</strong> other Marios!
    </p>
  </section>

  <!-- Work -->
  <section class="">
    <h2>Who is Us</h2>
    <p>We are NCKU students.<br>This is our web programming class project.</p>

    <!-- Gallery  -->
    <article class="">
      <a href="/home/assets/images/profiles/周子軒.jpg" class="image fit"><img src="/home/assets/images/profiles/周子軒.jpg" title="周子軒" alt="周子軒" />周子軒</a>
    </article>
    <article class="">
      <a href="/home/assets/images/profiles/曾大瑋.jpg" class="image fit"><img src="/home/assets/images/profiles/曾大瑋.jpg" title="曾大瑋" alt="曾大瑋" />曾大瑋</a>
    </article>
    <article class="">
      <a href="/home/assets/images/profiles/段雅培.jpg" class="image fit"><img src="/home/assets/images/profiles/段雅培.jpg" title="段雅培" alt="段雅培" />段雅培</a>
    </article>
    <article class="">
      <a href="/home/assets/images/profiles/黃敏宸.jpg" class="image fit"><img src="/home/assets/images/profiles/黃敏宸.jpg" title="黃敏宸" alt="黃敏宸" />黃敏宸</a>
    </article>
    <article class="">
      <a href="/home/assets/images/profiles/陳哲瑋.jpg" class="image fit"><img src="/home/assets/images/profiles/陳哲瑋.jpg" title="陳哲瑋" alt="陳哲瑋" />陳哲瑋</a>
    </article>
  </section>

  <!-- Contact -->
  <section class="">
    <h2>Contact</h2>
    <p>
      We currently don't have a contact yet.<br>
      Just visit us on <a href="https://github.com/ProFatXuanAll/SuperMarios">github</a>.
    </p>
    <p>Leader: <a href="https://github.com/ProFatXuanAll">周子軒</a></p>
    <p>Member:
      <a href="https://github.com/darkborderman">曾大瑋</a>,
      <a href="https://github.com/kaeteyaruyo">段雅培</a>,
      <a href="https://github.com/rainfallman">黃敏宸</a>,
      <a href="https://github.com/e24016695">陳哲瑋</a>,
    </p>
  </section>

{% endblock %}
