<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/home/assets/images/icons/favoricon.ico">
  <!-- Style Sheets -->
  {% block stylesheet %}{% endblock %}
</head>
<body>
  <header class="menu">
    <a href="{{ root }}">
      <img src="/home/assets/images/icons/favoricon.ico" alt="ProFatXuanAll" width="50" height="50">
    </a>
    <a href="{{ home }}">Home</a>
    <a href="{{ about }}">About</a>
    <a href="{{ game }}">Play</a>
	</header>

  {% block content %}{% endblock %}

  <footer>

  </footer>
      
  <!-- Scripts -->
  {% block script %}{% endblock %}
</body>
</html>
