form {
  display: grid;
  grid-template-columns: auto 40% auto;
  grid-template-rows: auto 30% 30% auto;
  grid-template-areas: ". . ." ". section ." ". submit ." ". . .";
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 10px solid red; }
  form section {
    grid-area: section;
    display: grid;
    grid-template-columns: auto 40% auto 40% auto;
    grid-template-areas: ". section_item1 . section_item2 .";
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*&:not(:last-of-type) { // test
      display: none;
    }*/ }
    form section button {
      font-size: 1rem;
      text-align: center;
      width: 3rem;
      height: 3rem;
      background: transparent;
      vertical-align: center;
      outline: none;
      cursor: pointer;
      opacity: 0.8; }
      form section button:hover {
        opacity: 1; }
    form section:nth-of-type(odd) article {
      grid-area: section_item1; }
    form section:nth-of-type(odd) button {
      grid-area: section_item2; }
    form section:nth-of-type(even) article {
      grid-area: section_item2; }
    form section:nth-of-type(even) button {
      grid-area: section_item1; }
    form section:nth-of-type(1) {
      text-align: center; }
      form section:nth-of-type(1) h1 {
        margin: 1rem; }
      form section:nth-of-type(1) input[type="text"] {
        border: 0.1rem solid #e59700;
        padding: 1rem;
        height: 2rem;
        font-size: 1rem; }
    form section:nth-of-type(2) {
      text-align: center; }
      form section:nth-of-type(2) h1 {
        margin: 1rem;
        white-space: nowrap; }
      form section:nth-of-type(2) select {
        width: 5rem;
        height: 2rem;
        font-size: 1rem; }
    form section:not(:first-of-type) {
      display: none; }
  form input[type="submit"] {
    grid-area: submit;
    width: 5rem;
    height: 3rem;
    font-size: 1rem; }

/*
h1 {
  grid-area: title; 
}

input[type="text"] {
  grid-area: input; 
  display: inline-block;
  height: 20%;
}

span {
  grid-area: error; 
}
*/
