$about_article_background_image: url("/home/assets/images/icons/brick_block.ico");
$about_article_background_size: 1.2rem;
$about_item_width: 40%;
$about_template: ". item1 . item2 .";
$about_article_item_margin: 1rem;
$about_article_h1: 1.5rem;
$about_article_p: .8rem;
$about_article_p_line_height: 1.2rem;

h2 {
  font-family: tiempos-headline-bold;
  text-shadow: 0.05rem 0.05rem 0.05rem grey;
  text-align: center;
  background-image: $about_article_background_image, $about_article_background_image;
  background-size: $about_article_background_size $about_article_background_size, $about_article_background_size $about_article_background_size;
  background-repeat: repeat-y, repeat-y;
  background-position: top left, top right;
}

section {
  display: grid;
  grid-template-columns: auto $about_item_width 5% $about_item_width auto;
  grid-template-areas: $about_template;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background-image: $about_article_background_image, $about_article_background_image;
  background-size: $about_article_background_size $about_article_background_size, $about_article_background_size $about_article_background_size;
  background-repeat: repeat-y, repeat-y;
  background-position: top left, top right;

  article {

    h1 {
      font-family: tiempos-headline-bold;
      font-size: $about_article_h1;
      white-space: nowrap;
      margin-bottom: $about_article_item_margin; 
      text-shadow: 0.05rem 0.05rem 0.05rem grey;
    }

    p {
      font-family: averta-regular;
      font-size: $about_article_p;
      line-height: $about_article_p_line_height;
      color: darken(grey, 30%);
      
      a {
        text-decoration: underline;
      }

      strong {
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }

  & > img {
    width: 100%;
    height: auto;
  }

  &:nth-of-type(even) {
    article {
      grid-area: item1;
    }

    & > img {
      grid-area: item2;
    }
  }

  &:nth-of-type(odd) {
    article {
      grid-area: item2;
    }

    & > img {
      grid-area: item1;
    }
  }

  &:not(:first-of-type) {
    & > img {
      border: 1rem solid white;
      border-radius: 50%;
    }
  }

  &:last-of-type {
    background-image: $about_article_background_image, $about_article_background_image, $about_article_background_image;
    background-size: $about_article_background_size $about_article_background_size, $about_article_background_size $about_article_background_size, $about_article_background_size $about_article_background_size;
    background-repeat: repeat-y, repeat-y, repeat-x;
    background-position: top left, top right, bottom left;
  }
}
