@import "reset";
@import "font";

$menu_len: 4;
$menu_template: "item1 . item2 item3 item4";

.menu {
  display: grid;
  grid-template-columns: 15% auto 15% 15% 15%;
  grid-template-areas: $menu_template;
  justify-items: center;
  align-items: center;
  padding: .1rem;
  width: 100%;
  font-size: .5rem;
  background: lightblue;

  a {
    background: white;
    border: .4rem solid white;
    border-radius: 50%;
    text-align: center;
    font-family: Ageta_Chubby_Demo;

    &:first-child {
      background: none;
      border: none;
    }
  }

  @for $i from 1 through $menu_len {
    a:nth-child(#{$i}) {
      grid-area: item#{$i};
    }
  }
}
